{% extends 'base.html.twig' %}

{% block body %}
    <div class="columns">

        <div class="column">
            <section class="hero is-link">
                <div class="hero-body">
                    <p class="title">
                        {{ file }}
                    </p>
                    <p class="subtitle">
                    <form method="POST" action="{{ path('resource_save', {resource: file}) }}">
                        <div class="field has-addons">
                            <div class="control is-expanded">

                                <input type="text" autofocus class="input" name="url" value="{{ url }}"/>
                            </div>
                            <div class="control">
                                <button type="submit" class="button">Save</button>
                            </div>
                        </div>
                    </form>
                    </p>
                </div>
            </section>

            <div class="mt-4">

                {% for k,url in resource|reverse %}
                    <div class="box">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-128x128">
                                    {% if url.image is defined %}
                                        <img class="" src="{{ url.image }}"/>
                                    {% else %}
                                        <svg viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
                                            <rect height="128" width="128" x="0" y="0"
                                                  fill="{{ url['theme-color']??'#485fc7' }}"/>
                                            {% if url.page is defined %}
                                                <text y="76" x="60" font-size="100px">{{ url.page[0:1] }}</text>
                                            {% endif %}
                                        </svg>
                                    {% endif %}

                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4"><a href="{{ url.url }}" target="_blank">
                                        {% if url.page is defined %}
                                            {{ url.page }}
                                        {% else %}
                                            {{ url.url }}
                                        {% endif %}
                                    </a>
                                </p>
                                <p class="subtitle is-6">
                                    {% if url.keywords is defined %}

                                        {% for kw in url.keywords %}
                                            <span class="tag mb-1">{{ kw }}</span>
                                        {% endfor %}
                                    {% endif %}

                                </p>
                            </div>
                            <div class="media-right">
                                <a class="delete" href="{{ path('resource_delete',{'resource':file, 'fileId':k}) }}" onclick="return confirm('are you sure?')">Delete</a>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="column is-one-quarter">
            {{ render(controller("\\App\\Controller\\UrlController::index")) }}
        </div>
    </div>
{% endblock %}

    {% block title %}

    {% endblock %}

